<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.javaboy.tcrelax.dal.draw.BenefitGroupMapper">

    <insert id="insert">
        insert into benefit_activity_group
        values ( #{gmtCreate}, #{gmtModified}, #{activityId}, #{benefitGroupId},#{benefitGroupName}
               , #{startTime}, #{endTime}, #{configInfo})
    </insert>


    <select id="selectByActivityId" resultType="org.javaboy.tcrelax.draw.dataobject.BenefitGroupDO">
        select *
        from benefit_activity_group
        <where>
            <include refid="queryCondition"></include>
        </where>
    </select>

    <sql id="queryCondition">
        <if test="activityId!=null and activityId!=''">
           and activity_id = #{activityId}
        </if>
        <if test="benefit_group_id!=null and benefit_group_id!=''">
            and benefit_group_id = #{benefitGroupId}
        </if>
    </sql>


</mapper>